<br><br><br><br><br>
<form method="POST" action="/sign-up">
   <input type="text" size="30" value="" placeholder="email" name="email" required>
   <input type="password" size="30" value="" placeholder="password" name="password" required>
   <input type="text" size="30" value="" placeholder="first" name="first" required>
   <input type="text" size="30" value="" placeholder="last" name="last" required>
   <input type="submit">
 </form>
